{% extends 'base.html.twig' %}

{% block body %}
  <div id="game-info">
    <h1>Tres en raya</h1>
  </div>
  <div id="controls">
    <a href="{{ path('new_game') }}">Nueva partida</a>
    <div id="continue">
      {{ form(form) }}
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('index') }}
{% endblock %}

